* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: skyblue;
    padding: 1rem;
}

#header-logo {
    width: 5rem;
}

h1 {

}